PORT=Your desired port number
NODE_ENV= development
MONGO_URI=Your MongoDB connection string
REDIS_URL=  Your Redis connection string
JWT_SECRET= Your JWT secret key (should be a long random string)
GITHUB_CLIENT_ID=Your GitHub OAuth client ID
GITHUB_CLIENT_SECRET=Your GitHub OAuth client secret
SESSION_SECRET=Your session secret (should be a long random string)